.header {
  font-size: 3rem;
  background: var(--yellow-orange);
  background-size: 80% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent; /* fallback */
  margin-bottom: 1rem;
}
