/* XS: phones */
@custom-media --xs (min-width: 480px);

/* SM: small tablets */
@custom-media --sm (min-width: 640px);

/* MD: large tablets */
@custom-media --md (min-width: 768px);

/* LG: laptops */
@custom-media --lg (min-width: 1024px);

/* XL: big desktops */
@custom-media --xl (min-width: 1280px);
